# config file for yumi_teleop_host
debug: True

# robot controls
v: 1500
z: fine

# data collection
record: True
supervisor: Jacky
fps: 10
save_every: 50
cache_path: /mnt/hdd/data/.cache
demo_path: /mnt/hdd/data/experiment_demos/
output_path: /mnt/hdd/data/yumi_teleop/results
data_srcs:
  webcam:
    use: False
    T_path: '/home/autolab/Public/alan/calib/webcam_overhead/webcam_overhead_to_world.tf'
    n: 0
  kinect:
    use: False
    T_path: '/home/autolab/Public/alan/calib/kinect2_overhead/kinect2_overhead_to_world.tf'
    n: 0
